/* .input{
    width: 120px;
   box-shadow: '2px 15px 10px grey';
    border-radius:5px;
     margin:'120px 30px 10px 50px';
     padding: 5px;
     border-top: tomato;
     border-left: tomato;
     outline: none;
}  */