* {
  margin: 0;
  padding: 0;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 50px;
 
}
.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;

 
}

.image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card1 {
  display: flex;
  flex: 0 1 33%;
  flex-direction: column;
  box-shadow: 0px 0px 5px 2px grey;
  border-radius: 10px;
 
}
.image1 {
  display: flex;
  flex: 0.6;
  justify-content: space-around;
}

.image2 {
  display: flex;
  flex: 0.6;
  justify-content: space-around;
}

.image3 {
  display: flex;
  flex: 0.6;
  justify-content: space-around;
}

.image4 {
  display: flex;
  flex: 0.6;
  justify-content: space-around;
}

.image5 {
  display: flex;
  flex: 0.6;
  justify-content: space-around;
}

.image6 {
  display: flex;
  flex: 0.6;
  justify-content: space-around;
}
.text {
  display: flex;
  flex: 0.4;
}
