

  *{
    margin: 0;
    padding: 0;
  }
  .main{
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-image: url('../Images/alfonso-scarpa-LP870ZV5GzI-unsplash.jpg');
    background-size: cover;
    margin-bottom: 60px;
  }
  
  .heading {
    display: flex;
    flex: 0.1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Quicksand", sans-serif;
    font-size: 42px;
    background-color: rgb(238, 193, 109);
    opacity: 0.5;
    
   
  }
  .words{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: red;

  }
  .cart{
    display: flex;
  color: orange;
    align-items: center;
    width: 50px;
    max-height: 30px;
    font-size: x-large;
    font-weight: bolder;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 40px;

  }
  .look {
    margin: 0 15px;
    line-height: 0.7;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
    
    animation: span 3s ease-in infinite alternate;
  }
  .letter {
    display: inline-flex;
    height: 30px;
    width: 27px;
    
     border: 2.35px solid black;
    border-radius: 14px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75), inset 0 0 2px rgba(0, 0, 0, 0.45);
  
    animation: letter 3s ease-in-out infinite alternate;
  }
  @keyframes span {
    0%,
    30% {
      margin: 0 15px;
    }
    70%,
    100% {
      margin: 0 5px;
    }
  }
  @keyframes letter {
    0%,
    30% {
      width: 27px;
    }
    70%,
    100% {
      width: 30vw;
    }
  } 
  .nav{display: flex;
    flex: 0.1;
    justify-content: center;

  }
  .lists{
    display: flex;
    list-style: none;
    
  }
  .linkscart {
      margin-right: 30px;
      margin-left: 30px;
      color: orange;
      font-weight: bolder;
    }
    
    .linksproducts {
      margin-right: 30px;
      color: orange;
      font-weight: bolder;
    }
    
  .text{
    display: flex;
    flex: 0.8;
align-items: center;
font-size: xx-large;
color: white;
  }