* {
  margin: 0;
  padding: 0;
}

.main {
  /* height: 150vh; */
  display: flex;
  flex-direction: column;
  /* background-color: mediumblue; */
  /* background-image: url("../Images/8630c2e54a321b80aa3bf7917d4910e9.jpg"); */
  background-size: 100%;
}

/* .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-size: 42px;
}

.look {
  margin: 0 15px;
  line-height: 0.7;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  
  animation: span 3s ease-in infinite alternate;
}
.letter {
  display: inline-flex;
  height: 30px;
  width: 27px;
  /* border: 2.5px solid #FF1EAD; */
  /* border: 2.35px solid black;
  border-radius: 14px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.75), inset 0 0 2px rgba(0, 0, 0, 0.45);

  animation: letter 3s ease-in-out infinite alternate;
}
@keyframes span {
  0%,
  30% {
    margin: 0 15px;
  }
  70%,
  100% {
    margin: 0 5px;
  }
}
@keyframes letter {
  0%,
  30% {
    width: 27px;
  }
  70%,
  100% {
    width: 30vw;
  }
} */ 

.topdiv {
  display: flex;
  flex: 0.1;
  display: inline;
  flex-direction: row;
  background-color: maroon;
  height: 10%;
}

 .list {
  display: flex;
  flex: 0.1;
  flex-direction: row;
  justify-content: center;
  color: #000000, #808080;
  list-style: none;
  font-size: medium;
  margin-right: 40px;
  background-color: mediumseagreen;
  cursor: pointer;
  height: 10%;
}
/* .linkscart {
  margin-right: 30px;
  margin-left: 30px;
  color: aliceblue;
}
.linksproducts {
  margin-right: 30px;
  color: aliceblue;
}
.linkscatalogue {
  margin-right: 30px;
  color: aliceblue;
}
.linkstrending {
  margin-right: 30px;
  color: aliceblue;
}  */
/* 
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@GAP:15px;
@WHITE:#FBFBFB;
@BACKGROUND:#45494E;
@COLOR1:#FDA085;@COLOR1g:#F6D365;
@COLOR2:#BFF098;@COLOR2g:#6FD6FF;
@COLOR3:#EA8D8D;@COLOR3g:#A890FE;
@COLOR4:#D8B5FF;@COLOR4g:#1EAE98;
@COLOR5:#C6EA8D;@COLOR5g:#FE90AF;

*{
  box-sizing:border-box;
}

:root{
  --accent-color:@BACKGROUND;
  --gradient-color:@WHITE;
}

a:focus{
  outline:none;
  position:relative;
  after{
    width:50px;
  }
}

a:after{
  content:"";
  background:@WHITE;
  position:absolute;
  bottom:5px;
  left:@GAP;
  height:3px;
  width:0;
  transition:.5s;
  transition-delay:.2s;
}

body{
  background:@BACKGROUND;
  font-family:"Varela Round",Nunito,Montserrat,sans-serif;
  margin:0;padding:0;
  text-transform:capitalize;
}

.menuitem{
  margin:@GAP;
  > ol{
    list-style:none;
    margin:@GAP * 2 0;
    padding:0;
    
    > li{
      background:darken(@WHITE,75%);
      border-left:5px solid var(--gradient-color);
      margin-bottom:1px;
      position:relative;
      transition:.5s;
      &:nth-child(1){
        --accent-color:@COLOR1;
        --gradient-color:@COLOR1g;
      }
      &:nth-child(2){
        --accent-color:@COLOR2;
        --gradient-color:@COLOR2g;
      }
      &:nth-child(3){
        --accent-color:@COLOR3;
        --gradient-color:@COLOR3g;
      }
      &:nth-child(4){
        --accent-color:@COLOR4;
        --gradient-color:@COLOR4g;
      }
      &:nth-child(5){
        --accent-color:@COLOR5;
        --gradient-color:@COLOR5g;
      }
      a{
        color:@WHITE;
        display:block;
        padding:@GAP;
        position:relative;
        text-decoration:none;
        z-index:1;
        &:not(:last-child){
          &:before{
            content:"\f078";
            font-family:fontAwesome;
            font-size:.75em;
            line-height:50px;
            position:absolute;
            right:25px;
            top:0;
            bottom:0;
            margin:auto;
            transition:.5s;
          }
        }
      }
      &:focus,&:focus-within,&:hover{
        z-index:100;
        
        &:after{
          background:linear-gradient(to left, var(--accent-color), var(--gradient-color));
          max-width:800px;
        }
      }
      &:focus,&:focus-within{
        .submenu{
          max-height:500px;
        }
        a:before{
          transform:rotate(-180deg);
        }
      }
      &:after{
        background:darken(@WHITE,75%);
        content:"";
        position:absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        transition:.5s;
        max-width:0;
        overflow:hidden;
      }
    }
    .submenu{
      border-left:1px solid @WHITE;
      margin-left:@GAP*1.5;
      list-style:none;
      max-height:0px;
      overflow:hidden;
      padding-left:@GAP/2;
      position:relative;
      transition:.5s;
      z-index:1;
      li{
        font-size:.9em;
        &:hover,a:focus{
          background:fade(darken(@WHITE,75%),30%);
        }
        a:after{
          bottom:5px;
          height:1px;
        }
        a:hover,a:focus{
          &:after{
            width:15px;
          }
        }
      }
    }
  }
}

@media (min-width:600px){  
  a:focus,a:hover{
    position:relative;
    &:after{
      width:50px;
    }
  }
  
  a:after{
    left:0;
    right:0;
    margin:auto;
  }

  .menuitem{
    margin:0;
    margin-top:40vh;
  }
  .menuitem > ol{
    display:block;
    max-width:none;
    text-align:center;
    > li{
      border-top:5px solid var(--accent-color);
      border-left:0;
      display:inline-block;
      margin-left:-5px;
      vertical-align:top;
      width:120px;
      &:hover,&:focus,&:focus-within{
        &:after{
          background:linear-gradient(to bottom, var(--accent-color), var(--gradient-color));
          border-radius:3px;
          top:-@GAP;
          bottom:-@GAP;
          left:-@GAP;
          right:-@GAP;
        }
        
        .sub-menu{
          max-height:750px;
        }
      }
      
      a:not(:last-child){
        &:before{
          right:12.5px;
        }
      }
      
      &:hover{
        a:before{
          transform:rotate(-180deg);
        }
      }
    }
    .sub-menu{
      border-left:0;
      margin:@GAP -@GAP -@GAP;
      padding-left:0;
    }
  }
}


@media (min-width:775px){
  .menu > ol{
    > li{
      width:150px; 
      
      a:not(:last-child){
        &:before{
          right:25px;
        }
      }
    }
  }
} */

.cards {
  display: flex;
  flex: 0.3;
  background-color: red;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3vw;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  /* height: 30%; */
}

.cards2 {
  display: flex;
  flex: 0.3;
  background-color: #000;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3vw;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  /* height: 30%; */
}
/*  
.div2 {
  display: flex;
}

.searchContainer {
  display: grid;
  grid-template-columns: 1rem 4fr 1fr;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.searchContainer:focus-within i {
  display: none;
}

.searchContainer:focus-within .searchBox {
  grid-column: 1/4;
}

.searchContainer:focus-within .searchBox::placeholder {
  color: transparent;
}

.searchIcon {
  padding: 0.2rem;
  grid-row: 1;
  grid-column: 1/2;
  z-index: 2;
}

.searchBox {
  border: 0;
  padding: 0.2rem;
  grid-column: 2/4;
  grid-row: 1;
  outline: none;
}

.searchButton {
  background: #538ac5;
  border: 0;
  color: white;
  padding: 0.2rem;
  border-radius: 0;
  grid-column: 4/5;
  grid-row: 1;
}

.container {
  width: 200px;
  height: 300px;
  position: absolute;
   background: url("../Images/purple\ hair\ band.jpeg"); 
   background-color: rgb(119, 109, 109);
  background-size: cover;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
}

.container2 {
  width: 200px;
  height: 300px;
  position: absolute;
 background: url("../Images/redearring.jpg"); 
  background-color: grey;
  background-size: cover;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
}

.overlay {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  background: rgba(77, 77, 77, 0.9);
  background: rgba(189, 183, 183, 0.9);
  opacity: 0;
  transition: all 0.5s;
  font-family: "Playfair Display", serif;
}

.itemshead {
  padding-left: 20px;
  letter-spacing: 3px;
}

.head {
  font-size: 30px;
  line-height: 40px;
  transform: translateY(40px);
  transition: all 0.7s;
}

.hr {
  display: block;
  width: 0;
  border: none;
  border-bottom: solid 2px;
  position: absolute;
  bottom: 0;
  left: 20px;
  transition: all 0.5s;
}

.price {
  font-size: 22px;
  line-height: 10px;
  font-weight: bold;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s;
}

.cart {
  font-size: 12px;
  opacity: 0;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
  transform: translateY(40px);
  transition: all 0.7s;
}

.shoppingcart {
  font-size: 16px;
}
.addtocart {
  margin-left: 10px;
}

.container:hover .overlay {
  opacity: 1;}

  .head {
    transform: translateY(0px);
  }

  .hr {
    width: 75px;
    transition-delay: 0.4s;
  }

  .price {
    transform: translateY(0px);
    transition-delay: 0.3s;
    opacity: 1;
  }

  .shoppingcart {
    transform: translateY(0px);
    transition-delay: 0.6s;
    opacity: 1;
  }


.container2:hover .overlay {
  opacity: 1;}
  .head {
    transform: translateY(0px);
  }

  .hr {
    width: 75px;
    transition-delay: 0.4s;
  }

  .price {
    transform: translateY(0px);
    transition-delay: 0.3s;
    opacity: 1;
  }

  .shoppingcart {
    transform: translateY(0px);
    transition-delay: 0.6s;
    opacity: 1;
  }  */


.quotediv {
  display: flex;
  flex: 0.1;
  flex-direction: row;
  justify-content: center;
  background-color: indigo;
  margin-right: 20px;
  color: aliceblue;
}
/* 
.quote1 {
  display: flex;
  height: 25vh;
  width: 15vw;
  display: grid;
  flex-direction: row;
  justify-content: center;
  margin-right: 90px;
  color: black;
}

.quote2 {
  color: black;
  display: flex;
  height: 25vh;
  width: 15vw;
  flex-direction: row;
  display: grid;
  justify-content: center;
}
.quote3 {
  display: flex;
  height: 25vh;
  width: 15vw;
  flex-direction: row;
  display: grid;
  color: aliceblue;
  justify-content: center;
} */
.quote {
  display: flex;
  flex: 0.1;
  align-items: flex-end;
  justify-content: center;
  color: aliceblue;
  background-color: lawngreen;
  /* height: 5vh; */
}
