* {
  margin: 0;
  padding: 0;
}

.main {
  height: auto;
  display: flex;
  flex-direction: column;
  background-size: 100%;
}

.searchContainer {
  display: grid;
  grid-template-columns: 1rem 4fr 1fr;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.searchContainer:focus-within i {
  display: none;
}

.searchContainer:focus-within .searchBox {
  grid-column: 1/4;
}

.searchContainer:focus-within .searchBox::placeholder {
  color: transparent;
}

.searchIcon {
  padding: 0.2rem;
  grid-row: 1;
  grid-column: 1/2;
  z-index: 2;
}

.searchBox {
  border: 0;
  padding: 0.2rem;
  grid-column: 2/4;
  grid-row: 1;
  outline: none;
}

.searchButton {
  background: #538ac5;
  border: 0;
  color: white;
  padding: 0.2rem;
  border-radius: 0;
  grid-column: 4/5;
  grid-row: 1;
}

.quotediv {
  display: flex;
  flex: 0.1;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 60px;
  background-color: rgb(238, 227, 206);
}

.quote1 {
  display: flex;
  display: grid;
  flex-direction: row;
  justify-content: space-evenly;
}

.quote2 {
  display: flex;
  flex-direction: row;
  display: grid;
  justify-content: space-evenly;
}
.quote3 {
  display: flex;
  flex-direction: row;
  display: grid;
  justify-content: space-evenly;
}
.quote {
  display: flex;
  flex: 0.1;
  align-items: flex-end;
  justify-content: center;
  margin-top: 30px;
}
